[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
pytest = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[packages]
prettytable = "*"
tqdm = "*"
colorama = "*"
quark-engine = {editable = true,path = "."}
click = "8.0.1"
androguard = "==3.4.0a1"
graphviz = "*"
requests = "*"
pandas = "*"
plotly = "*"
simple-term-menu = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
