[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"

[packages]
prettytable = "*"
androguard = {editable = true,git = "https://github.com/androguard/androguard"}
tqdm = "*"
colorama = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
