#!/usr/bin/make -f

#export DH_VERBOSE = 1
export PYBUILD_NAME=quark-engine
export PYBUILD_DISABLE=test

%:
		dh $@ --with python-virtualenv


override_dh_virtualenv:
	dh_virtualenv
	cp /usr/local/lib/libshuriken.so quark
	dh_install
