#!/usr/bin/make -f

#export DH_VERBOSE = 1
export PYBUILD_NAME=quark-engine
export PYBUILD_DISABLE=test

%:
		dh $@ --with python-virtualenv


override_dh_virtualenv:
	dh_virtualenv
	pip install --break-system-packages git+https://github.com/Fare9/Shuriken-Analyzer.git@b26778813b487aa55e7e183d153ec83300f4e075#subdirectory=shuriken/bindings/Python/
	cp /usr/local/lib/libshuriken.so quark
	dh_install
