body {
  font-family: Arial, sans-serif;
  font-size: 19px;
  display: grid;
  height: 100vh;
  /* flex-direction: column; */
  /* align-items: center; */
  /* justify-content: center; */
  padding-inline: 30px;
  background: linear-gradient(45deg, #efc64bcc 10%, #a02e2e 35%, #060864f2 90%);
  color: #c7c7c7;
  grid-template-columns: 3fr 7fr;
  grid-template-rows: 1fr 9fr;
  grid-template-areas: 
    "header header" 
    "chatbox flowchart";
}

.header {
  grid-area: header;
  padding-top: 20px;
  text-align: center;
}

.chatbox-container {
  grid-area: chatbox;
  /* background-color: #2c3e50; */
  color: white;
  padding: 20px;
}

.flowchart-container {
  grid-area: flowchart;
  /* background-color: #37502c; */
  color: white;
  padding: 20px;
  position: relative;
}



h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.container {
  justify-content: space-between;
  transition: width 0.3s ease, height 0.3s ease;
  margin-bottom: 10px;
  position: relative;
  /*display: flex;*/
  /* max-width: 80%; */
}

#largeContainer{
  position: relative;
  justify-content: space-between;
}

.chatbox {
  height: 85%;
  border: 1px solid #3e3e3e;
  padding: 10px;
  background: #3a3a3aab;
  border-color: #a0a0a0;
  color: #c7c7c7;
  overflow-y: auto;
  box-shadow: 0 0 10px rgb(133 133 133 / 70%);
  border-radius: 5px;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
}

#diagram-container {
  color: #c7c7c7;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  transition: width 0.3s ease;
}

#new-action-button {
  position: absolute;
  right: 100px;
  right: 6%;
  bottom: 13%;
}

.container.input {
  justify-content: flex-start;
  position: relative;
  padding:0;
  width: 100%;
}

#message {
  width: 100%;
  height: 65px;
  padding: 15px;
  border-radius: 35px;
  border: 1px solid #3e3e3e;
  border-color: #a0a0a0;
  background-color: #414141;
  box-shadow: 0 0 10px rgb(133 133 133 / 70%);
  color: #c7c7c7;
  font-size: 20px;
  padding-right: 50px;
  /* resize: vertical; */
  margin-top: 20px;
  margin-bottom: 20px;
}

#send {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #c0c0c0;
  color: #fff;
  border: none;
  font-size: 16px;
  cursor: pointer;
  position: absolute;
  right: 8px;
  top: 47%;
  transform: translateY(-50%);
}

#send::before {
  content: "\f062";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  font-size: 20px;
  color: #5c5c5c;
}

.message {
  max-width: 70%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  line-height: 1.5;
}

.message.user {
  background-color: #5a5a5a;
  color: white;
  align-self: flex-end;
  border-radius: 10px;
  padding-right: 40px;
  position: relative;
}

.message.user::before {
  content: "\f007";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.message.bot {
  background-color: #3e3e3e;
  color: white;
  align-self: flex-start;
  border-radius: 10px;
  padding-left: 40px;
  position: relative;
}

.message.bot::before {
  content: "\f5dc";
  font-family: "Font Awesome 5 Free", sans-serif;
  font-weight: 900;
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
}

.CodeMirror-scroll {
  font-size: 16px;
  height: 100%;
  padding: 15px;
}

.CodeMirror-gutters {
  background-color: #2d2d2d;
  border-right: 1px solid #3e3e3e;
}

.cm-s-dracula .CodeMirror-gutters,
.cm-s-dracula.CodeMirror {
  background-color: #414141 !important;
  color: #f8f8f2 !important;
  border: none
}

.CodeMirror {
  font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 14px;
  height: 100%;
  line-height: 1.6;
  color: #c7c7c7;
  background-color: #414141 !important;
}

.CodeMirror-linenumber {
  color: #858585;
}

.CodeMirror-cursor {
  border-left: 1px solid #fff;
}

.cm-s-dracula .cm-keyword {
  color: #d73a49;
}

.cm-s-dracula .cm-string {
  color: #a8ff60;
}

.cm-s-dracula .cm-comment {
  color: #6a737d;
}

#codeBox {
  display: none;
  width: 50%;
  height: 50%;
  position: absolute;
  left: 8%;
  bottom: 15%;
}

.subtitle {
  /* margin-top: -10px; */
  /* margin-bottom: 40px; */
  font-size: 1.7rem;
}

.logo {
  vertical-align: middle;
  width: auto;
  height: 125px;
}

.available-magnet {
  fill: yellow;
}

.available-cell rect {
  stroke-dasharray: 5, 2;
}


.circle-button {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: white;
  border: 2px solid #ccc;
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  z-index: 1;
}

#buttonContainer {
  position: absolute;
  right: 8%;
  bottom: 15%;
  height: 77%;
  padding: 20px;
  border: 1px solid #3e3e3e;
  background-color: #414141;
  color: #c7c7c7;
  overflow-y: auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  transition: width 0.3s ease;
}

.centerText {
    text-align: center;
    font-size: 20px;
    line-height: 50px;
    margin-bottom: 20px;
    color: #fff;
}

/* 六個按鈕的佈局 */
.button-grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 15px;
}

.grid-button {
    padding: 10px;
    background-color: #252526;
    border: 2px solid #FFF;
    cursor: pointer;
    transition: background-color 0.3s;
    border-radius: 5px;
    color: #c7c7c7;
}

.grid-button:hover {
    background-color: #888;
}

.show {
    display: block;
}

.hidden {
    display: none;
}

#codeblock-button {
  position: absolute;
  left: 6%;
  bottom: 13%;
}