# This workflow will install Python dependencies, run tests and lint with a single version of Python
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-python-with-github-actions

name: build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    - name: Set up Python 3.9
      uses: actions/setup-python@v4
      with:
        python-version: 3.9
        cache: pip
        cache-dependency-path: setup.py

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install pytest rzpipe meson==0.62.0 ninja coverage ciphey frida "frida-tools<=12.3.0" objection r2pipe==1.8.0

        # Install graphviz & ninja
        sudo apt-get -y install graphviz ninja-build
 
        # Install Rizin (0.7.3)
        sudo git clone https://github.com/rizinorg/rizin /opt/rizin/
        cd /opt/rizin/
        sudo git checkout v0.7.3
        meson build
        ninja -C build
        sudo ninja -C build install
        sudo ldconfig -v
        cd -

        # Install Radare2 (5.8.8)
        sudo apt install -y musl-tools
        wget https://github.com/radareorg/radare2/releases/download/5.8.8/radare2-5.8.8.zip
        unzip radare2-5.8.8.zip -d /opt
        cd /opt/radare2-5.8.8
        sudo sys/install.sh
        cd -
 
        # Install langchain and it's OpenAI integration
        python -m pip install langchain==0.2.11 langchain-core==0.2.23 langchain-openai==0.1.17 --upgrade

        # Install click >= 8.0.0 for CLI supports
        python -m pip install click==8.0.3

    - name: Install Quark-Engine
      run: pip install .

    - name: Test with pytest
      run: |
        python -m pip install black pytest sphinx sphinx-rtd-theme
        python -m pip install coveralls pytest-cov
        pytest --cov=./ --cov-report=xml

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v4.4.0
      with:
        fail_ci_if_error: true
        flags: unittests
        token: ${{ secrets.CODECOV_TOKEN }}
        version: v0.6.0 

